USE [master]
GO
/****** Object:  Database [Assignment]    Script Date: 18/11/03 11:22:59 PM ******/
CREATE DATABASE [Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkShop2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WorkShop2.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WorkShop2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WorkShop2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment]
GO
/****** Object:  Table [dbo].[tbl_account]    Script Date: 18/11/03 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_account](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tbl_account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 18/11/03 11:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[custID] [varchar](10) NOT NULL,
	[lastName] [varchar](15) NULL,
	[middleName] [varchar](30) NULL,
	[firstName] [varchar](15) NULL,
	[address] [varchar](250) NULL,
	[phone] [varchar](11) NULL,
	[custLevel] [int] NULL,
	[username] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_customer] PRIMARY KEY CLUSTERED 
(
	[custID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order]    Script Date: 18/11/03 11:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order](
	[orderID] [varchar](10) NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[custID] [varchar](10) NOT NULL,
	[total] [float] NOT NULL,
 CONSTRAINT [PK_tbl_order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_orderDetail]    Script Date: 18/11/03 11:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_orderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productID] [varchar](10) NOT NULL,
	[sizesID] [varchar](3) NOT NULL,
	[quantity] [int] NULL,
	[unitPrice] [float] NULL,
	[total] [float] NULL,
	[orderID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_orderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_shoes]    Script Date: 18/11/03 11:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_shoes](
	[shoesID] [varchar](10) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tbl_shoes] PRIMARY KEY CLUSTERED 
(
	[shoesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_shoesSizesDetail]    Script Date: 18/11/03 11:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_shoesSizesDetail](
	[shoesID] [varchar](10) NOT NULL,
	[sizesID] [varchar](3) NOT NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_tbl_shoesSizesDetail] PRIMARY KEY CLUSTERED 
(
	[shoesID] ASC,
	[sizesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sizes]    Script Date: 18/11/03 11:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sizes](
	[id] [varchar](3) NOT NULL,
	[sizes] [int] NOT NULL,
	[country] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_sizes_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_account] ([username], [password]) VALUES (N'admin', N'123456')
INSERT [dbo].[tbl_customer] ([custID], [lastName], [middleName], [firstName], [address], [phone], [custLevel], [username]) VALUES (N'cf46471e2c', N'Handsome', N'Pro', N'Admin', N'Le Duan', N'09855569565', 1, N'admin')
INSERT [dbo].[tbl_shoes] ([shoesID], [description], [quantity]) VALUES (N'S0001', N'Bitits Hunter', 70)
INSERT [dbo].[tbl_shoes] ([shoesID], [description], [quantity]) VALUES (N'S0002', N'Adidas Sneaker', 40)
INSERT [dbo].[tbl_shoes] ([shoesID], [description], [quantity]) VALUES (N'S0003', N'Nike Sneaker', 30)
INSERT [dbo].[tbl_shoesSizesDetail] ([shoesID], [sizesID], [price], [quantity]) VALUES (N'S0001', N'L', 35.5, 5)
INSERT [dbo].[tbl_shoesSizesDetail] ([shoesID], [sizesID], [price], [quantity]) VALUES (N'S0001', N'LL', 99.9, 30)
INSERT [dbo].[tbl_shoesSizesDetail] ([shoesID], [sizesID], [price], [quantity]) VALUES (N'S0001', N'M', 20, 10)
INSERT [dbo].[tbl_sizes] ([id], [sizes], [country]) VALUES (N'L', 36, N'US')
INSERT [dbo].[tbl_sizes] ([id], [sizes], [country]) VALUES (N'LL', 37, N'UK')
INSERT [dbo].[tbl_sizes] ([id], [sizes], [country]) VALUES (N'M', 35, N'VN')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbl_customer]    Script Date: 18/11/03 11:23:00 PM ******/
ALTER TABLE [dbo].[tbl_customer] ADD  CONSTRAINT [UQ_tbl_customer] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_order] ADD  CONSTRAINT [DF_tbl_order_orderDate]  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[tbl_orderDetail] ADD  CONSTRAINT [DF_tbl_orderDetail_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[tbl_orderDetail] ADD  CONSTRAINT [DF_tbl_orderDetail_unitPrice]  DEFAULT ((0)) FOR [unitPrice]
GO
ALTER TABLE [dbo].[tbl_orderDetail] ADD  CONSTRAINT [DF_tbl_orderDetail_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[tbl_customer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_customer_tbl_account1] FOREIGN KEY([username])
REFERENCES [dbo].[tbl_account] ([username])
GO
ALTER TABLE [dbo].[tbl_customer] CHECK CONSTRAINT [FK_tbl_customer_tbl_account1]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_order_tbl_customer] FOREIGN KEY([custID])
REFERENCES [dbo].[tbl_customer] ([custID])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK_tbl_order_tbl_customer]
GO
ALTER TABLE [dbo].[tbl_orderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_orderDetail_tbl_order] FOREIGN KEY([orderID])
REFERENCES [dbo].[tbl_order] ([orderID])
GO
ALTER TABLE [dbo].[tbl_orderDetail] CHECK CONSTRAINT [FK_tbl_orderDetail_tbl_order]
GO
ALTER TABLE [dbo].[tbl_orderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_orderDetail_tbl_shoes] FOREIGN KEY([productID])
REFERENCES [dbo].[tbl_shoes] ([shoesID])
GO
ALTER TABLE [dbo].[tbl_orderDetail] CHECK CONSTRAINT [FK_tbl_orderDetail_tbl_shoes]
GO
ALTER TABLE [dbo].[tbl_shoesSizesDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_shoesSizesDetail_tbl_shoes] FOREIGN KEY([shoesID])
REFERENCES [dbo].[tbl_shoes] ([shoesID])
GO
ALTER TABLE [dbo].[tbl_shoesSizesDetail] CHECK CONSTRAINT [FK_tbl_shoesSizesDetail_tbl_shoes]
GO
ALTER TABLE [dbo].[tbl_shoesSizesDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_shoesSizesDetail_tbl_sizes] FOREIGN KEY([sizesID])
REFERENCES [dbo].[tbl_sizes] ([id])
GO
ALTER TABLE [dbo].[tbl_shoesSizesDetail] CHECK CONSTRAINT [FK_tbl_shoesSizesDetail_tbl_sizes]
GO
USE [master]
GO
